.m_8fb7ebe7 {
  text-align: right !important;
}
.dategroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 6px;
}

.DateTitle {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}

.rmdp-input {
  width: 100%;
  padding: 8px !important;
  font-family: var(--mantine-font-family);
  /* border-color: var(--mantine-color-gray-4); */
  font-size: var(--mantine-font-size-sm);
  border: calc(0.0625rem * var(--mantine-scale)) solid #424242 !important;
  border-radius: calc(0.25rem * 1);
  transition: border-color 100ms ease;
  color: #c9c9c9;
  height: calc(2.25rem * 1) !important;
  display: block;
  background-color: rgb(46, 46, 46);
}
.rmdp-input:focus {
  border-color: #228be6;
  box-shadow: 0 0 0 1px #228be6;
}
.mainform {
  padding: 20px;
}

.buttonGoup {
  padding: 12px;
}
